@tailwind base;
@tailwind components;
@tailwind utilities;

.btn{
    @apply shadow-md py-3 px-6 rounded-md transition-all duration-300
}

.btn-purple{
    @apply bg-indigo-600 text-white
}

.btn-white{
    @apply bg-white
}

.ham-bottom, .ham-middle, .ham-top {
    transition: all .5s;
}

.open .ham-middle{
    display: none;
}

.open .ham-top{
    transform: rotate(45deg) translateY(0px) translateX(3px); 
}

.open .ham-bottom{
    transform: rotate(-45deg) translateY(-2px) translateX(4px); 
}
